<!DOCTYPE html>
<html class="full" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base-full">
<head>
<link th:href="@{/lib/css/map.css}" rel="stylesheet" />
<script th:src="@{/lib/js/google2.js}"></script>

<script>
	var geocoder;
	var map;
	var locations = [];
	var nazwyLokacji = [];
	var infoWindow;
	
	function initialize() {
		geocoder = new google.maps.Geocoder();
		var latlng = new google.maps.LatLng(51.768734, 19.456459);
		var mapOptions = {
			scrollwheel : true,
			zoom : 13,
			center : latlng
		};
		map = new google.maps.Map(document.getElementById('map-canvas'),
				mapOptions);
		var points = null;

		$.ajax({
			type : "POST",
			url : "/citybike/public/map/downloadLocations",
			dataType : 'json',
			data : JSON.stringify(points),
			contentType : 'application/json',
			success : function(data) {
				nazwyLokacji = data;
				for (i in data) {

					var pos = new google.maps.LatLng(data[i].x, data[i].y);
					locations[i] = pos;

					var marker = new google.maps.Marker({
						position : pos,
						title : data[i].name
					});
					marker.setMap(map);
					addInfoWindow(marker, data[i].name, data[i].available,
							data[i].lockedBikes, data[i].id);
				}
			},
			error : function() {
				alert('error');
			}
		});
	}

	function addInfoWindow(marker, message, available, lockedBikes, id) {
		var link = "/citybike/employee/profile/";
		var info = message + "<br>Dostępnych rowerów: " + available
				+ "</br>Zablokowanych rowerów: " + lockedBikes
				+ "<br><a href="+link+id+">Zobacz profil stacji</a></br>";

		google.maps.event.addListener(marker, 'click', function() {
			if (infoWindow) {
				infoWindow.close();
			}
			infoWindow = new google.maps.InfoWindow({
				content : info
			});
			infoWindow.open(map, marker);
		});
	}

	var markerNew;
	function codeAddress() {
		initialize();
		var address = document.getElementById('address').value;
		geocoder.geocode({
			'address' : address
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location);
				markerNew = new google.maps.Marker({
					map : map,
					position : results[0].geometry.location
				});
				markerNew.setAnimation(google.maps.Animation.BOUNCE);
				var idNajblizszego;
				var minDystans = 99999999999999;
				for (i in locations) {
					if (minDystans > google.maps.geometry.spherical
							.computeDistanceBetween(locations[i],
									results[0].geometry.location)) {
						minDystans = google.maps.geometry.spherical
								.computeDistanceBetween(locations[i],
										results[0].geometry.location);
						idNajblizszego = i;
					}
				}

				var kordyDoLini = [ locations[idNajblizszego],
						results[0].geometry.location ];
				var linia = new google.maps.Polyline({
					path : kordyDoLini,
					geodesic : true,
					strokeColor : '#000000',
					strokeOpacity : 1.0,
					strokeWeight : 2
				});

				linia.setMap(map);
				map.setZoom(15);
				var dystansKm = calcDistance(locations[idNajblizszego],
						results[0].geometry.location);

				$("#result").empty();
				$("#result").append(
						"<br>Adres najbliższego sklepu: </br>"
								+ nazwyLokacji[idNajblizszego].name
								+ " <br>Dystans: " + dystansKm
								+ " km</br> Dostępnych rowerów: "
								+ nazwyLokacji[idNajblizszego].available);

			} else {
				alert('Wystąpił problem: ' + status);
			}
		});
	}

	function calcDistance(p1, p2) {
		return (google.maps.geometry.spherical.computeDistanceBetween(p1, p2) / 1000)
				.toFixed(2);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>

	<div class="full" layout:fragment="content">
		<div id="map-canvas"></div>
		<!-- /.row -->
	</div>

</body>
</html>