<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
    <div class="container"  layout:fragment="content">

    
		<div class="page-header">
			<h1><span th:text="${profile.username}"></span>
				<div sec:authorize="hasRole('ROLE_EMPLOYEE')" th:if="${currentUser.username != profile.username}">
					<div th:if="${profile.blocked == true}" class="btn-group" role="group">
						  <a th:href="@{/employee/profile/__${profile.username}__/lock}" type="button" class="btn btn-default">Odblokuj</a>
						  <button type="button" class="btn btn-danger" disabled="disabled">Zablokowany</button>
					</div>
					<div th:if="${profile.blocked == false}" class="btn-group" role="group">
						  <button type="button" class="btn btn-success" disabled="disabled">Odblokowany</button>
						  <a th:href="@{/employee/profile/__${profile.username}__/lock}" type="button" class="btn btn-default">Zablokuj</a>
					</div>
				</div>
			</h1>
		</div>

		<TABLE>
        	<TR>
            	<td><label>Nazwa użytkownika :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.username}"></label></td>
            </TR>
            <TR>
            	<td><label>Stan konta :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.balance}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Imię :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.firstName}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Nazwisko :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.lastName}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Email :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.email}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Telefon :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.telephone}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Data urodzenia :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.brithDate}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Adres :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.address}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Kod pocztowy :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.zipCode}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Miasto :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.city}"></label></td>
            </TR>
            <TR th:if="${profile.details != null}">
            	<td><label>Kraj :</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
           		<td><label th:text="${profile.details.country}"></label></td>
            </TR>
       </TABLE>
       
       	<div class="page-header">
			<h2>Rowery</h2>
		</div>
		<span th:if="${profile.bikes.size()} == 0">brak</span>
		<table class="table" th:if="${profile.bikes.size()} != 0">
			<thead>
				<tr >
					<th>Rower</th>
					<th>Zablokowany</th>
					<th>Opis</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bike : ${profile.bikes}" th:classappend="${bike.blocked}? 'warning'">
					<td th:text="${bike.name}" ></td>
					<!-- <td th:text="${bike.user.username}" ></td> -->
					<td th:text="${bike.blocked} ? 'Tak' : 'Nie'"  >Tak</td>
					<td th:text="${bike.description}" ></td>
					<td> <a class="btn btn-default" th:href="@{/employee/bike/(id=${bike.name})}"  role="button">Szczegóły</a></td>
				</tr>
			</tbody>
		</table>
		
		<div class="page-header">
			<h2>Historia wypożyczeń</h2>
		</div>
		
		<span th:if="${profile.returns.size()} == 0">Brak wypożyczeń w historii.</span>
		<table class="table" th:if="${profile.returns.size()} != 0">
			<thead>
				<tr>
					<th>Data</th>
					<th>Nazwa stacji</th>
					<th>Opłata</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bikeTransfer : ${profile.returns}">
					<td th:text="${bikeTransfer.timestamp}" ></td>
					<td th:text="${bikeTransfer.toUser.username}" ></td>
					<td th:text="${bikeTransfer.fare}" ></td>
				</tr>
			</tbody>
		</table>
		
		
		
       	<div class="page-header">
			<h2>Wpłaty</h2>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Data</th>
					<th>Kwota (zł)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="payment : ${profile.payments}" th:if="${payment.amount.compareTo(0) > 0}">
					<td th:text="${payment.date}" ></td>
					<td th:text="${payment.amount} "  ></td>
				</tr>
			</tbody>
		</table>
    </div>
    

    </body>
</html>