<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Błąd doładowania konta</h1>
	<p>
		Wysąpił błąd który uniemozliwił doładowanie konta.<br /> <a th:href="@{/}">Strona
			domowa</a><br />
	</p>
</body>
</html>