<?xml version="1.0"?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CityBike</title>



<!-- Bootstrap core CSS -->
<link th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/lib/css/full.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
 <script th:src="@{/lib/js/jquery.js}"></script>
</head>


  <body>
  
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" layout:include="base :: nav">
        </nav>
    
        <!-- Carousel
    ================================================== -->
    
	<div  layout:fragment="content"/>

	<footer class="footer" layout:include="base :: footer"/>
	

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/lib/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/lib/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>