<?xml version="1.0"?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CityBike</title>



<!-- Bootstrap core CSS -->
<link th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/lib/css/base.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
 <script th:src="@{/lib/js/jquery.js}"></script>
</head>

<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
		layout:fragment="nav">
		<div class="container" layout:fragment="nav-content">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">CityBike</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/public/map}" href="#">Mapa</a></li>
					<li><a th:href="@{/public/offer}" href="#">Oferta</a></li>


				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_EMPLOYEE')" class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false">
							Rowery
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/employee/stats}" href="#">Stan / Statystyki</a></li>
							<li class="divider">Przypisanie</li>
							<li><a th:href="@{/employee/bikes/clients}" href="#">Klienci</a></li>
							<li><a th:href="@{/employee/bikes}" href="#">Pracownicy</a></li>
							<li><a th:href="@{/employee/bikes/locations}" href="#">Lokalizacje</a></li>
							<li class="divider">Rozmieszczenie</li>
							<li><a th:href="@{/public/map}" href="#">Wszystkie</a></li>
							<li><a th:href="@{/public/map/above/17}" href="#">Nadmiar</a></li>
							<li><a th:href="@{/public/map/below/3}" href="#">Niedomiar</a></li>
							<li><a th:href="@{/public/map/locked}" href="#">Zablokowane</a></li>
						</ul></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/admin/}">Użytkownicy</a></li>
					<li sec:authorize="isAnonymous()"><a th:href="@{/public/register}">
							<span>Rejestracja</span>
					</a></li>
					<li sec:authorize="isAnonymous()"><a th:href="@{/login}">
							<span>Zaloguj</span>
					</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
							th:text="' ' +${#authentication.name} + ' '"></span> <span
							class="label label-primary"></span>
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<th:block sec:authorize="hasRole('ROLE_CLIENT')">
							<li class="dropdown-header">Stan konta <span th:text="${currentUser.balance}"></span> zł</li>
							<li class="divider"></li>
							</th:block>
							<li><a th:href="@{/user/account}" href="#">Moje konto</a></li>
							<li><a sec:authorize="hasRole('ROLE_CLIENT')" th:href="@{/user/recharge_account}" href="#">Doładuj konto</a></li>
							<li><a th:href="@{/j_spring_security_logout}" href="#">Wyloguj</a></li>

						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container" layout:fragment="container">
		<div th:if="${successMsg}" class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
			<span th:text="${successMsg}"></span>
		</div>
		<div th:if="${infoMsg}" class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			<span th:text="${infoMsg}"></span>
		</div>
		<div th:if="${warningMsg}" class="alert alert-warning" role="alert">
			<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
			<span th:text="${warningMsg}"></span>
		</div>
		<div th:if="${failMsg}" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span th:text="${failMsg}"></span>
		</div>

		<div layout:fragment="content">
			<div class="page-header">
				<h1>Template header</h1>
			</div>
			<p class="lead">
				Pin a fixed-height footer to the bottom of the viewport in desktop
				browsers with this custom HTML and CSS. A fixed navbar has been
				added with
				<code>padding-top: 60px;</code>
				on the
				<code>body > .container</code>
				.
			</p>
			<p>
				Powrót do <a th:href="@{/}">strony głównej</a>
			</p>
		</div>
	</div>
	<footer class="footer" layout:fragment="footer">
		<div class="container">
			<p class="text-muted">CityBike - Projekt zespołowy - sem. zimowy 2014/2015</p>
		</div>
	</footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/lib/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/lib/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>