<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
    <body>
    <div class="container"  layout:fragment="content">
		<div class="page-header">
			<h1 th:text="${errorCode}">500</h1>
		</div>
		<p class="lead" th:text="${'Wystąpił błąd. ' + errorMessage}">java.lang.NullPointerException</p><br/>
		<p>
			Powrót do <a th:href="@{/}">strony głównej</a>
		</p>
    </div>
    </body>
</html>