<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base-carousel">
    <body>
       <div layout:fragment="header" id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div  class="item next left" th:style="'background-image: url(' + @{/lib/img/traffic.jpg} + ');background-position: center'">
        <!-- 
          <img th:src="@{/lib/img/traffic-wide.jpg}" alt="First slide"/>
           -->
          <div class="container">
            <div class="carousel-caption">
              <h2>Bez stania w korkach</h2>
              <p/><p/>
              </div>
          </div>
        </div>
        <div class="item" th:style="'background-image: url(' + @{/lib/img/overcrowded-wide.jpg} + ');background-position: center'">
<!--           <img th:src="@{/lib/img/overcrowded-wide.jpg}" alt="Second slide"/> -->
          <div class="container">
            <div class="carousel-caption">
              <h2>Bez tłoczenia się w komunikacji miejskiej</h2>
              <p/><p/>
            </div>
          </div>
        </div>
        <div class="item active left" th:style="'background-image: url(' + @{/lib/img/bike-wide.jpg} + ');background-position: center'">
<!--           <img th:src="@{/lib/img/bike-wide.jpg}" alt="Third slide"/> -->
          <div class="container">
            <div class="carousel-caption">
              <h1><b>CityBike</b></h1>
              <p><a class="btn btn-lg btn-success" th:href="@{/public/register}" role="button">Dołacz już dziś! »</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    
    
    
    <div class="container"  layout:fragment="content">
	    <div class="container marketing">
	
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	        <div class="col-lg-4">
	          <img th:src="@{/lib/img/order.png}" alt="Generic placeholder image" style="width: 140px; height: 140px;"/>
	          <h2>Dołącz</h2>
	          <p>Wystarczy, że poświęcisz 5 minut na rejestrację i wykonanie pierwszego przelewu.</p>
	          <p><a class="btn btn-default" th:href="@{/public/register}" role="button">Rejestracja »</a></p>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
	          <img th:src="@{/lib/img/sofa.png}" alt="Generic placeholder image" style="width: 140px; height: 140px;"/>
	          <h2>Płać wygodnie</h2>
	          <p>System Transferuj.pl umożliwia zapłatę przy pomocy ponad 50 kanałów płatności! Bezpieczna, automatyczna, natychmiastowa realizacja zlecenia.</p>
	          <p><a class="btn btn-default" href="https://transferuj.pl/czym-jest-transferuj.html" role="button">więcej »</a></p>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
	          <img th:src="@{/lib/img/map.png}" alt="Generic placeholder image" style="width: 140px; height: 140px;"/>
	          <h2>Wypożczaj</h2>
	          <p>Do twojej dyspozycji 1000 rowerów, 100 dogodnych lokalizacji, 24 godziny na dobę, 7 dni w tygodniu.</p>
	          <p><a class="btn btn-default" th:href="@{/public/map}" role="button">Pokaż mapę »</a></p>
	        </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->
	    </div>
    </div>
    </body>
</html>