<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Strona logowania</title>
        <link th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/lib/css/signin.css}" rel="stylesheet"/>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    
    <body>
        <div class="container">
        

        <form th:action="@{/j_spring_security_check}" method="post" class="form-signin" role="form">
            <div th:if="${loginError}" class="alert alert-danger" role="alert">
			  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  	<span class="sr-only">Error:</span>
				Niepoprawny login lub hasło
			</div>
        	<h2 class="form-signin-heading">Zaloguj się</h2>
            <label for="j_username" class="sr-only">Login</label>
            <input type="text" class="form-control" id="j_username" name="j_username" placeholder="Login"  />
            <label for="j_password" class="sr-only">Haslo</label>
            <input type="password" class="form-control" id="j_password" name="j_password" placeholder="Hasło" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
			<a th:href="@{/public/register}">Nie mam konta</a>
			<a class="pull-right" th:href="@{/}">Strona domowa</a> 
        </form>
        </div>
        
    </body>
</html>