<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Strona rejestrowania</title>
    </head>
    <body>
        <h1>Stworz konto</h1>
        <form th:action="${REGISTER}" method="post" th:object="${registration}" >
        	<TABLE>
        	<TR>
            	<td><label for="firstName">Imie</label>:</td>
           		<td><input type="text" th:field="*{firstName}" /> <br /></td>
            	<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
            </TR>
            <TR>
            	<td><label for="lastName">Nazwisko</label>:</td>
            	<td><input type="text" th:field="*{lastName}" /> <br /></td>
            	<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
            </TR>
            <TR>
            	<td><label for="email">Email</label>:</td>
            	<td><input type="text" th:field="*{email}" /> <br /></td>
            	<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
            </TR>
            <TR>
            	<td><label for="password">Haslo</label>:</td>
            	<td><input type="password" th:field="*{password}" /> <br /></td>
            	<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
            </TR>
            <TR>
            	<td><label for="confirmPassword">Powtorz haslo</label>:</td>
            	<td><input type="password" th:field="*{confirmPassword}" /> <br /></td>
            	<td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</td>
            </TR>
            <TR>
            	<td><input type="submit" value="Rejestruj" /></td>
            </TR>
            </TABLE>
        </form>
        <a th:href="@{/}">Strona domowa</a>
    </body>
</html>