<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">

    <body>
    <div class="container"  layout:fragment="content">
		<div class="page-header">
			<h1>Rowery</h1>
		</div>
		<ul class="nav nav-pills">
			<li role="presentation"><a th:href="@{/employee/bikes}">Pracownicy</a></li>
			<li role="presentation"><a th:href="@{/employee/bikes/locations}">Lokalizacje</a></li>
			<li role="presentation"><a th:href="@{/employee/bikes/clients}">Klienci</a></li>
		</ul>
		
		<div th:each="user : ${users}">
		<h3 th:if="${user.bikes.size()} != 0" th:text="${user.username}"></h3>
		<table class="table">
			<thead>
				<tr th:if="${user.bikes.size()} != 0">
					<th>Rower</th>
					<th>Zablokowany</th>
					<th>Opis</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bike : ${user.bikes}" th:classappend="${bike.blocked}? 'warning'">
					<td th:text="${bike.name}" ></td>
					<!-- <td th:text="${bike.user.username}" ></td> -->
					<td th:text="${bike.blocked} ? 'Tak' : 'Nie'"  >Tak</td>
					<td th:text="${bike.description}" ></td>
					<td> <a class="btn btn-default" th:href="@{/employee/bike/(id=${bike.name})}"  role="button">Szczegóły</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		
    </div>
    </body>
 
</html>