<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">

    <body>
    <div class="container"  layout:fragment="content">
		<div class="page-header">
			<h1>Rower <span th:text="${bike.name}"></span></h1>
							<div>
					<div th:if="${bike.blocked == true}" class="btn-group" role="group">
						  <a th:href="@{/employee/bike/block/(id=${bike.name})}" type="button" class="btn btn-default">Odblokuj</a>
						  <button type="button" class="btn btn-danger" disabled="disabled">Zablokowany</button>
					</div>
					<div th:if="${bike.blocked == false}" class="btn-group" role="group">
						  <button type="button" class="btn btn-success" disabled="disabled">Odblokowany</button>
						  <a th:href="@{/employee/bike/block/(id=${bike.name})}" type="button" class="btn btn-default">Zablokuj</a>
					</div>
				</div>
		</div>
		
		<table class="table">
		<tr>
		<td><b>Id:</b></td>
		<td th:text="${bike.id}"></td>
		</tr>
			<tr>
		<td><b>Nazwa:</b></td>
		<td th:text="${bike.name}"></td>
		</tr>
			<tr>
		<td><b>Zablokowany:</b></td>
		<td th:text="${bike.blocked} ? 'Tak' : 'Nie'"> </td>
		</tr>
			<tr>
		<td><b>Kod do zamka:</b></td>
		<td th:text="${bike.lockCode}"> </td>
		</tr>
		<tr>
		<td><b>Aktualny użytkownik: </b></td>
		<td th:text="${bike.user.username}"> </td>
		</tr>
		<tr>
		<td><b>Opis:</b></td>
		<td th:text="${bike.description}"> </td>
		</tr>
		<tr>
		<td><b>Zdjęcie:</b></td>
		<td><img th:src= "@{/lib/img/rower.jpg}"> </img> </td>
		</tr>
		</table>
		
		
		
		<h3>Historia wypożyczeń</h3>
		<span th:if="${bike.loans.size()} == 0">Brak wypożyczeń w historii.</span>
		<table class="table">
			<thead>
				<tr th:if="${bike.loans.size()} != 0">
					<th>Data</th>
					<th>Od użytkownika</th>
					<th>Do użytkownika</th>
					<th>Opłata</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bikeTransfer : ${bike.loans}" >
					<td th:text="${bikeTransfer.timestamp}" ></td>
					<td th:text="${bikeTransfer.fromUser.username} "  ></td>
					<td th:text="${bikeTransfer.toUser.username}" ></td>
					<td th:text="${bikeTransfer.fare}" ></td>
				</tr>
			</tbody>
		</table>
		</div>
    </body>
 
</html>