<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">

    <body>
    <div class="container"  layout:fragment="content">
		<div class="page-header">
			<h1>Statystyki</h1>
		</div>
		
			<h5>Czynne rowery <span th:text="${unlockedBikes}"></span>, zablokowane <span th:text="${lockedBikes}"></span> (razem <b><span th:text="${allBikes}"></span></b>).</h5>
			<h5>Na podstawie statystyk z ostanich 2 tygodni optymalna liczba rowerów (przy średnim minimalnym stanie 3) wynosi <b><span th:text="${optimalBikes}"></span></b> rowerów.</h5>
			<h5 th:if="${bikesDiff &gt; 0}">Zaleca się <b>zwiększyć</b> liczbę rowerów o <b><span th:text="${bikesDiff}"></span></b>.</h5>
			<h5 th:if="${bikesDiff &lt; 0}">Zaleca się <b>zmniejszyć</b> liczbę rowerów o <b><span th:text="${-bikesDiff}"></span></b>.</h5>
		</div>
    </body>
 
</html>