<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base">
<body>
	<div class="container" layout:fragment="content">
		<div class="page-header">
				<ul class="nav nav-pills">
			<li role="presentation"><a th:href="@{/admin/}">Pracownicy</a></li>
			<li role="presentation"><a th:href="@{/admin/locations}">Lokalizacje</a></li>
			<li role="presentation"><a th:href="@{/admin/clients}">Klienci</a></li>
		</ul>
			<h1>
				<span th:text="${title}"></span><a th:href="@{${NEW_USER_URL}}">
					<button class="btn btn-primary" type="button">
						<span class="glyphicon glyphicon-plus"></span> Nowy użytkownik
					</button>
				</a>
			</h1>
		</div>
		<p>
		

		<table class="table">
			<thead>
				<tr>
					<th>Login</th>
					<!-- 					<th>Usuń</th> -->
					<th>Stan konta</th>
					<th>Zablokowany</th>
					<th></th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}"  th:classappend="${#strings.substring(user.balance,0,1) eq '-' || user.blocked}? 'warning'">
					<td th:text="${user.username}"></td>
					<!-- 					<td><span class="glyphicon glyphicon-remove"></span></td> -->
					<td th:text="${user.balance}"></td>
					<td th:text="${user.blocked} ? 'Tak' : 'Nie'"  >Tak</td>
					<td> <a class="btn btn-default" th:href="@{/employee/profile/__${user.username}__}"  role="button">Szczegóły</a></td>
				</tr>
			</tbody>
		</table>
		</p>
	</div>
</body>
</html>