<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base">
<body>
	<div class="container" layout:fragment="content">
		<div class="page-header">
			<h1>Nowy użytkownik</h1>
		</div>

		<form class="form-horizontal" role="form" th:action="@{${ADD_USER_URL}}" method="post" th:object="${user}">
			<div class="form-group">
				<label for="inputLogin" class="col-sm-2 control-label">Login</label>
				<div class="col-sm-10">
					<input th:field="*{username}" type="text" class="form-control" id="inputLogin"
						placeholder="Login"/>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input th:field="*{password}" type="password" class="form-control" id="inputPassword"
						placeholder="Hasło"/>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<th:block th:each="role : ${roles}">
						<div class="checkbox">
							<label> <input th:field="*{roles}" th:value="${role.role}" type="checkbox"/>
							<span th:text="${role.name}">Administrator</span>
							</label>
						</div>
					</th:block>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Dodaj</button>
				</div>
			</div>
		</form>

	</div>
</body>
</html>